sudo: false
language: python
env:
  - RASTERIO_VERSION=0.32.0-post1
addons:
  apt:
    packages:
      - libgdal1h
      - gdal-bin
python:
  - "2.7"
  - "3.4"
cache:
  directories:
    - $HOME/.pip-cache/
    - $HOME/wheelhouse
before_install:
  - curl -L https://github.com/mapbox/rasterio/releases/download/$RASTERIO_VERSION/rasterio-travis-wheels-$TRAVIS_PYTHON_VERSION.tar.gz > /tmp/wheelhouse.tar.gz
  - tar -xzvf /tmp/wheelhouse.tar.gz -C $HOME
  - pip install -U pip
install:
  - pip install --find-links=$HOME/wheelhouse --cache-dir=$HOME/.pip-cache -e .[test] 
script: 
  - py.test
